body{
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
  }

  body p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 10%;
    font-family: 'Varela', sans-serif;
    font-size: 1.4em;
    line-height: 2.2em;
    font-weight: 200;
    color: #7F8487;
  }

hr {
    background-color: #FFE69A;
    border-style: none;
    width: 40%;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.fancyText {
  font-family: 'Varela', sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #7F8487;
}

.introText{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #FFD24C;
  text-align: right;
  z-index: 5;
  }

h1 {
    font-size: 6em;
    font-weight: 200;
    font-family: 'Parisienne', cursive;
    margin: 5px;
  }

h2 {
  color: #92B4EC;
  padding: 10px;
  font-size: 50px;
  font-weight: 200;
  font-family: 'Parisienne', cursive;
}

h3 {
font-family: 'Varela', sans-serif;
font-weight: 200;
font-size: 25px;
margin: 5px;
}

h4 {
font-family: 'Varela', sans-serif;
font-size: 1.4em;
font-weight: 200;
color: #92B4EC;
}

.RSVPButton {
  background-color: white;
  border-color: #92B4EC;
  border: solid 3px;
  color: #92B4EC;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.RSVPButton:hover {
  background-color: #92B4EC;
  border-color: #92B4EC;
  border: solid 3px;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

em {
  color: #FFD24C;
  font-weight: 200;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.imgDiv {
  font-family: 'Varela', sans-serif;
  font-weight: 200;
  font-size: 1.4em;
  color: #92B4EC;
}

.hotelImg {
  max-height: 200px;
  width: inherit;
  border-radius: 5%;
}

.happyCouple {
  max-height: 500px;
  width: inherit;
  border-radius: 5%;
  padding: 20px;
}

.topBar {
  width: 100%;
  min-height: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.topBar img{
  z-index: -5;
  position: relative;
  width: 100%;
  min-height: 50rem;
}

footer {
  font-size: small;
  color: #7F8487;
}

a {
  padding: 5px;
}

a:link {
  color: #92B4EC;
}

a:visited {
  color: #FFD24C;
}
