body{
    background-color: #F9F9F9;
    text-align: center;
  }

  body p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 10%;
    font-family: 'Varela', sans-serif;
    font-size: 1.6em;
    line-height: 2.2em;
    color: #7F8487;
  }

hr {
    background-color: #7F8487;
    border-style: none;
    width: 40%;
    height: 2px;
  }

.introText{
    color: #FFD24C;
    margin: 40% 2% 8% 45%;
  }

h1 {
    font-size: 80px;
    font-family: 'Parisienne', cursive;
  }

h2 {
  color: #92B4EC;
  padding: 10px;
  font-size: 50px;
  font-family: 'Parisienne', cursive;
}

h3 {
font-family: 'Varela', sans-serif;
font-size: large;
}

h4 {
font-family: 'Varela', sans-serif;
font-size: 1.6em;
}

.RSVPButton {
  background-color: #92B4EC;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

.hotelImg {
  max-height: 200px;
  width: inherit;
  border-radius: 5%;
}

.happyCouple {
  max-height: 500px;
  width: inherit;
  border-radius: 5%;
}

.topBar {
  background-image: url("../WhynotGetMarried/images/coverPhoto.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer p {
  font-size: 8px;
  background-color: #7F8487;
}
